@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url(https://image.shutterstock.com/image-photo/beautiful-abstract-grunge-decorative-navy-260nw-539880832.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
} */

.image {
  height: 470px;
  width: 425px;
  padding-left: 20px;
}

.image-bottom__text {
  padding: 15px;
}

.image-bottom__text span {
  font-size: 18px;
  line-height: .5rem;
  font-weight: 400;
  color: #777;
  font-family: 'Raleway',
    sans-serif;
}

.image-bottom__text p {
  font-weight: 400;
  color: #888888a2;
  font-family: 'Raleway',
    sans-serif;
  padding-top: 7px;
}

.bg {
  background-image: url(https://image.shutterstock.com/image-photo/beautiful-abstract-grunge-decorative-navy-260nw-539880832.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}

section {
  padding: 80px 0;
  z-index: 999;
}

.box {
  position: relative;
  max-width: 810px;
  height: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.form-bg {
  background-color: #5f0fafde !important;
  height: 600px;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.close_btn {
  position: absolute;
  top: -10px;
  right: -7px;
  height: 30px;
  width: 30px;
  line-height: 11px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 30px;
  padding: 7px 7px 7px 5px;
  cursor: pointer;
  font-weight: bolder;
  color: #777;
}

.form {
  padding: 140px 65px;
}

.form-bottom__text {
  font-size: 15px;
  padding-top: 15px;
  color: #f5f5f5cc;
}

.form-control_1 {
  border: none;
  outline: none;
  padding: 7px 15px;
  border-radius: 5px;
  width: 100%;
}

.form-control_1::placeholder {
  color: #0000007e;
  font-family: 'Raleway',
    sans-serif;
  font-weight: 600;
}

button.btn {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
}

button.btn-primary:hover {
  background-color: #000;
}

.btn-primary {
  background-color: #0f966df5;
  border-color: #9241e2 !important;
}

.image-svg__box {
  position: relative;
}

.svg .triangle {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 278px;
  left: 172px;
  height: 30px;
  width: 600px;
  fill: #fff;
  z-index: 1;
}

@media only screen and (max-width: 990px) {
  .svg .triangle {
    bottom: 304px;
    left: 119px;
  }

  .popup-screen {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    max-width: 370px;
  }

  .image {
    height: 205px;
    width: 190px;
    margin-left: -30px;
  }

  .mobile-screen__big {
    max-width: 45%;
  }

  .mobile-screen__small {
    max-width: 55%;
  }

  .image-bottom__text span {
    font-size: 15px;
  }

  .image-bottom__text p {
    font-size: 13px;
  }

  .svg .triangle {
    bottom: 170px;
    left: -141px;
    height: 15px;
    width: 600px;
  }

  .form {
    padding: 140px 37px;
  }

  .form-control_1 {
    padding: 5px 10px;
    width: 140px;
  }

  .form-control_1::placeholder {
    font-weight: 400;
    font-size: 14px;
  }

  button.btn {
    font-weight: 400;
    letter-spacing: 1px;
    width: 140px;
    font-size: 14px;
  }
}